@media only screen and (max-height: 825px){
  #car-offers{
    padding: 10px;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    display: inline-block; 
    /* position: absolute; */
    width: 100%;
  
    flex-shrink: 1;

    margin-bottom:60px;
    margin-top: 60px;
    height: auto;
    
  }
  
  th,td{
    padding: 6px 6px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #049bffc5;
  
    flex-shrink: 1;
    
  }

  th,tr:last-child{
    margin-bottom: 5px;
  }
  #car-label{
    display: none;
  }
}

/* S5 - MG4 */
@media only screen and (max-width: 365px){
  #car-offers{
    padding: 10px;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    display: inline-block; 
    /* position: absolute; */
    width: 100%;
  
    flex-shrink: 1;

    margin-bottom:75px;
    height: auto;
    
  }
  
  th,td{
    padding: 5px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #049bffc5;
  
    flex-shrink: 1;
    
  }

  th,tr:last-child{
    margin-bottom: 5px;
  }
  #car-label{
    display: none;
  }
}

@media only screen and (max-width: 285px){
  #car-offers{
    padding: 10px;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    display: inline-block; 
    /* position: absolute; */
    width: 100%;
  
    flex-shrink: 1;

    margin-bottom:75px;
    height: auto;
    
  }
  
  th,td{
    padding: 6px 6px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #049bffc5;
  
    flex-shrink: 1;
    
  }

  th,tr:last-child{
    margin-bottom: 5px;
  }
  #car-label{
    display: none;
  }
}


@media only screen and (min-width: 1024px){
  
  #showcase-offers{
    padding: 10px;
    /* overflow: scroll; */
  }
  
  form{
    justify-content: center;
    align-items: center;
  }

  #car-offers{
    overflow: scroll;
    margin-bottom: 1rem;
  }

  #boat-offers{
    margin-bottom: 25px;
    display: block;
    justify-self: center;
    align-items: center;
    overflow: scroll;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
#boat-offers::-webkit-scrollbar {
  display: none;
}

#car-offers::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#boat-offers {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#car-offers {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px;
    display: inline-block; 
  
    flex-shrink: 1;


    
  }
   th, td{
    /* padding: 6.5px 10px; */
    padding: 1rem 1.5rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #049bffc5;
  
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    
  }
  
}

