@media (max-width: 768px) {
  
  img{
    display: none;
  }
  
  #showcase .showcase-content .container{
    overflow: scroll;
  }
  #showcase .showcase-content .container .table thead{
    /* display: none; */
    display: block;
    width: 100%;
  }

  #showcase .showcase-content .table, .table tbody, .table tr, .table td{
    display: block;
    /* overflow: scroll; */
  }

  #showcase .showcase-content .table tr{
    border: none;
    border-bottom: solid 2px #f4f4f4;
    margin-bottom: 15px;
    max-width: 100%;
    /* max-height: 100%; */
  }

  #showcase .showcase-content .table tbody tr td{
    text-align: right;
    /* padding-left: 50%; */
    position: relative;
  }

  
}