*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
     background: #666; 
}


#myTopnav{
top: 0;
/* position: sticky; */
 z-index: 2; 
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    
  }

  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      
     
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }

  }



#showcase{
    background: #333 url('../images/boat-drift.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#showcase .showcase-content{
    background-color: rgba(0,0,0,0.5); /* alpha = 4th param = transparency */
    display: flex;
    flex-direction: column;
    
     justify-content: center; 
    
    height: 100vh;

    /* overlay */
    position: fixed;
    /* !!! change value of top after adding nav bar !!!!*/
     top: 50px; 
    left: 0;
    right: 0;
    bottom: 0;

    
}

#showcase .container-register{
    background:  #009c7ab0;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    padding: 2.5rem;
    width:auto;
    height: auto;

    border: solid 2px black;
    border-radius: 20px;

    overflow: hidden;

    /* !!! */
    position: absolute; 
    z-index: 0;

   
    align-items: center;

    flex-shrink: 1;
}

#showcase .input-field{
    display: block;
    padding: 5px;
    margin: auto;

    text-decoration: none;
    outline: none;
}

.container-register .form-group{
    margin: 0.75rem;
    margin: auto;
    /* border: solid 2px red;  */
    
    
}

.container-register .form-group label{
    display: block; 
    color: black;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    
}

.container-register .form-group .btn-register{
    margin-top: 15%;
    width: 100%;
    padding: 10px;
    justify-self: center;

    border: 1px solid black;
    border-radius: 5px;
}

.container-register .form-group .btn-register:hover{
    background-color: rgba(231, 3, 3, 0.822) ;
}

/* add media query after initial configuration -> css <=> from top-bottom*/
@media screen and (max-height: 450px){
  #showcase .container-register{
    height: 250px;
    width: 200px;
    margin-bottom: 40px;
    padding: 0px;
  }

  #showcase .input-field{
    display: block;
    padding: 1px;
    margin: auto;

    text-decoration: none;
    outline: none;
  }

  .container-register .form-group{
    margin: 2px;
    
    /* border: solid 2px red;  */   
}

.container-register .form-group label{
  display: block; 
  color: black;
  margin-top: 0px;
  margin-bottom: 2px;
  
}

.container-register .form-group .btn-register{
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  justify-self: center;

  border: 1px solid black;
  border-radius: 5px;
}
}